# .gitignore
bundle
dist
node_modules
publish-temp
.env
output.txt
artinet-router-*.tgz
scripts
test/demo.ts
test/demo-relay.ts
test/bundle.test.ts
artinet.log
package-publish.json
.vscode
# .github
archive
diff.log
